<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dunno.aenen.forgottobuy" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-amzn-sdk
        android:minSdkVersion="1"
        android:targetSdkVersion="3" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@euclid:style/Theme.Euclid.Light.NoTitleBar" >

        <!-- android:theme="@euclid:style/Theme.Euclid.Light" > -->


        <!-- Dynamic Perspective Controls require euclidlibary and eaclibrary. -->
        <uses-library
            android:name="euclidlibrary"
            android:required="true" />
        <uses-library
            android:name="eaclibrary"
            android:required="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".OrderActivity"
            android:label="@string/title_activity_order"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dunno.aenen.forgottobuy.MainActivity" />
        </activity>
        <activity
            android:name=".CheckboxesActivity"
            android:label="@string/title_activity_checkboxes" >
        </activity>
        <activity
            android:name=".DialogActivity"
            android:label="@string/title_activity_dialog" >
        </activity>
        <activity
            android:name=".DatePickerActivity"
            android:label="@string/title_activity_date_picker" >
        </activity>
        <activity
            android:name=".TabBarActivity"
            android:label="@string/title_activity_tab_bar" >
        </activity>
        <activity
            android:name=".RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view" >
        </activity>
        <activity
            android:name=".ScorekeeperActivity"
            android:label="@string/title_activity_scorekeeper"
            android:theme="@euclid:style/Theme.Euclid.Dark" >
        </activity>
        <activity
            android:name=".SportsActivity"
            android:label="@string/title_activity_sports" >
        </activity>
        <activity
            android:name=".SportDetailActivity"
            android:label="@string/title_activity_sport_detail" >
        </activity>
        <activity
            android:name=".AsyncTaskActivity"
            android:label="@string/title_activity_async_task" >
        </activity>
        <activity
            android:name=".WhoWroteItActivity"
            android:label="@string/title_activity_who_wrote_it" >
        </activity>
        <activity
            android:name=".WebPageActivity"
            android:label="@string/title_activity_web_page" >
        </activity>
        <activity
            android:name=".PowerReceiverActivity"
            android:label="@string/title_activity_power_receiver" >
        </activity>
        <activity
            android:name=".NotifyMeActivity"
            android:label="@string/title_activity_notify_me" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
